body{
    background-color: var(--neutral-dark);
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 25px;
}

.nft-card{
    max-width: 350px;
    background-color: var(--neutral-medium);
    border-radius: 15px;
    padding: 25px;
}

.nft-card .image-link{
    position: relative;
    display: flex;
}

.nft-card .image-link .image{
    width: 100%;
    border-radius: 7px;    
}

.nft-card .image-link::before{    
    content: '';
    background-color: cyan;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.nft-card .image-link::after{
    content: '';
    background: url(../images/icon-view.svg) no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.nft-card .image-link:hover::before {    
    opacity: 0.4;
}

.nft-card .image-link:hover::after{
    opacity: 1;
}

.nft-card .title-link .title{
    font-size: 22px;
    color: #ffffff;
    margin: 25px 0 20px;
}

.nft-card .title-link .title:hover{
    color: var(--primary-medium);
}

.nft-card .about{
    color: var(--primary-soft);
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 23px;
}

.nft-card .info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.nft-card .info .price{
    color: var(--primary-medium);
    display: flex;
}

.nft-card .info .price::before{
    content: '';
    background: url(../images/icon-ethereum.svg) no-repeat center;
    width: 11px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.nft-card .info .days-left{
    color: var(--primary-soft);
    display: flex;
}

.nft-card .info .days-left::before{
    content: '';
    background: url(../images/icon-clock.svg) no-repeat center;
    width: 15px;    
    display: inline-block;
    margin-right: 5px;
}

.nft-card .creator{
    display: flex;
    align-items: center;   
    border-top: 1px solid var(--neutral-soft); 
    padding-top: 15px;
}

.nft-card .creator .avatar{
    max-width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.nft-card .creator .text{
    color: var(--primary-soft);
}

.nft-card .creator .text .name{
    color: #ffffff;
}

.nft-card .creator .text .name:hover{
    color: var(--primary-medium);
}
