:root{
    --primary-soft: hsl(215, 51%, 70%);
    --primary-medium: hsl(178, 100%, 50%);

    --neutral-dark: hsl(217, 54%, 11%);
    --neutral-medium: hsl(216, 50%, 16%);
    --neutral-soft: hsl(215, 32%, 27%);
}